<h1>Fichier du Devis :</h1>
<%= form_tag new_quote_check_path(profile: @quote_check&.profile || @profile), multipart: true do %>
  <p><%= file_field_tag :quote_file %></p>
  <p><%= select_tag :llm, options_for_select(
    Rails.application.config.llms_configured.map { |llm| [llm, llm] },
    params[:llm] || @quote_check&.qa_llm ||
      Rails.application.config.llms_configured.detect { it.match /#{QuoteReader::Qa::DEFAULT_LLM}/i } ||
      Rails.application.config.llms_configured.first
  ), class: "fr-select" %></p>
  <%= hidden_field_tag :profile, @profile %>
  <%= submit_tag "Vérifier", class: "fr-btn fr-btn--primary fr-btn--lg" %>
<% end %>

<% if defined?(@quote_valid) %>
  <hr />

  <h1 id="quote_valid"><%= @quote_valid ? 'Valide ✅' : 'Invalide ❌' %></h1>
  <pre><%= @quote_error_details&.join("\n") %></pre>
<% end %>

<% if @quote_check %>
  <hr />

  <h1>Devis <%= @quote_check.id %></h1>

  <p><%= link_to "Devis #{@quote_check.id} frontend", @quote_check.frontend_webapp_url %></p>
  
  <p><%= link_to "Devis #{@quote_check.id} backend", quote_check_url(@quote_check) %></p>

  <%= link_to "#read_attributes" do %>
    <h2 id="read_attributes">read_attributes (except extended_data)</h2>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_check.read_attributes&.except('extended_data') %></pre>

  <%= link_to "#validation_error_details" do %>
    <h2 id="validation_error_details">validation_error_details</h2>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_check.validation_error_details %></pre>

  <%= link_to "#naive_attributes" do %>
    <h2 id="naive_attributes">naive_attributes</h2>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_check.naive_attributes %></pre>

  <%= link_to "#private_data_qa_attributes" do %>
    <h3 id="private_data_qa_attributes">private_data_qa_attributes</h3>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_check.private_data_qa_attributes %></pre>

  <hr />

  <h1>LLM : <code><%= @quote_check.qa_llm %></code></h1>
  <h2>Model : <code><%= @quote_check.qa_model %></code></h2>

  <%= link_to "#qa_attributes" do %>
    <h3 id="qa_attributes">qa_attributes</h3>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_check.qa_attributes %></pre>

  <hr />

  <%= link_to "#private_data_qa_result" do %>
    <h3 id="private_data_qa_result">private_data_qa_result</h3>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_check.private_data_qa_result %></pre>

  <%= link_to "#qa_result" do %>
    <h3 id="qa_result">qa_result</h3>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_check.qa_result %></pre>

  <hr />

  <%= link_to "#extended_data" do %>
    <h1 id="extended_data">extended_data</h1>
  <% end %>
  <pre><%= JSON.pretty_generate @quote_attributes['extended_data'] %></pre>

  <hr />

  <%= link_to "#anonymised_text" do %>
    <h1 id="anonymised_text">anonymised_text</h1>
  <% end %>
  <pre><%= @quote_check&.anonymised_text %></pre>

  <hr />

  <%= link_to "#text" do %>
    <h1 id="text">text</h1>
  <% end %>
  <pre><%= @quote_check&.text %></pre>
<% end %>
