<h1>Fichier du Devis :</h1>
<%= form_tag new_quote_check_path, multipart: true do %>
  <%= file_field_tag :quote_file %>
  <%= hidden_field_tag :profile, @profile %>
  <%= submit_tag "Vérifier", class: "fr-btn fr-btn--primary fr-btn--lg" %>
<% end %>

<% if defined?(@quote_valid) %>
  <hr />

  <h1>Résultat vérification du Devis : <%= @quote_valid ? 'Valide' : 'Invalide' %></h1>
  <pre><%= @quote_errors&.join("\n") %></pre>
<% end %>

<% if @quote_attributes %>
  <hr />

  <h1>Attributs détecté du Devis :</h1>
  <pre><%= JSON.pretty_generate @quote_attributes %></pre>

  <% if @quote_check&.text.present? %>
    <h1>Texte du Devis :</h1>
    <pre><%= @quote_check&.text %></pre>
  <% end %>

  <% if @quote_check.present? %>
    <h1>QuoteCheck attributes :</h1>
    <pre><%= JSON.pretty_generate @quote_check&.attributes.to_json %></pre>
  <% end %>
<% end %>
